body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swimLanes {
  min-height: 60vh;
}

.taskCard:hover {
  cursor: grab;
}

.taskCard {
  max-width: 100%;
  padding: 5%
}

.cardDeleteButton {
  float: right;
}

.pastDue {
  background-color: lightcoral;
}

.dueSoon {
  background-color: palegoldenrod;
}

.dueLater {
  background-color: lightgreen;
}

#todoCards,
#inProgressCards,
#doneCards {
  min-height: 100%;
  min-width: 100%;
}
